*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color:#B3B6B7 ;
}



h1{
    background: bisque;
    
    text-shadow: 1px 1px 1px black;
    margin: 13px;
    padding:13px;
    text-align: center;
    border: 3px solid black;
    
}

hr{
    margin-bottom: 20px;
}

nav{
  
    margin: 10px;
    padding:10px;
    
}

.nav_home{
    background: #f8eae2;
    color: black;
    padding: 10px 0;
    border: 2px solid #fff;
    display: none;


}

@media(max-width:500px){
    nav{

        display:flex;
        flex-direction: column;
        justify-content: 10px 0;
    }
    .links1{
        margin: 10px 0;
       
    }
    .nav_home{
        display:inline-block;
    }

}


.fondo1{
    background-color: bisque;
    margin: 10px;
    padding:10px;
    border: 3px solid black;
   
}
hr {border: 3px solid #666; border-radius: 300px/10px; height: 0px; text-align: center; margin:8px;}


.fondo3{
    background-color: bisque;
    margin: 50px;
    padding: 50px;
    border: 3px solid black ;
}

.imagen1{
    width: 100%;
    height: auto;
    border: 3px solid black;
}
.imagen2{
    width: 100%;
    height: auto;
    border: 3px solid black;
}

.fondo4{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: bisque;
    
}


.ceremonia{
    text-align: center;
    margin:0 auto;
}

img{
    margin: auto;
    display: block;
}

.vestimenta{
    background-color: #8D6A9F;
    margin: 0 auto;
}
.vestimenta2{
    text-align: center;
}

.linkconfirmacion{
    text-align: center;
    margin: 0 auto;
}
.p_frase{
    text-align: center;
}
.links1{
    display: inline-block;
    background: #f8eae2;
    color: black; 
    padding: 10px 10px;
    text-decoration: none;
    font-size: 25px;

}
.links1:hover{
    background: salmon;
}
.links1:active{
    background:#a7a2ff;
}
.linkMaps{
    display: inline-block;
    background: salmon;
    color: #fff; 
    padding: 10px 10px;
    text-decoration: none;
   
    
}
.linkMaps:hover{
    background: rosybrown;
}


.boton,a{
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
    

}
.botonConfirmacion{
    display: inline-block;
    background: salmon;
    color: #fff; 
    padding: 10px 10px;
    text-decoration: none;
}

.botonConfirmacion:hover{
    background: rosybrown;
}

.divConfirmacion{
    text-align: center;
}

