*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color:#E9D2F4;
}

hr{
    margin-bottom: 20px;
}

nav{
    color:maroon;
    margin: 10px;
    padding:10px;
    
}

h1{
    background: bisque;
    text-shadow: 1px 1px 1px black;
    margin: 13px;
    padding:13px;
    text-align: center;
    border: 3px solid black;
    
}
nav{
    
    margin: 10px;
    padding:10px;
    
}
.links1{
    font-size: 25px;
}
.links1{
    display: inline-block;
    background: salmon;
    color: #fff; 
    padding: 10px 10px;
    text-decoration:none;

}

.links1:hover{
    background: rosybrown;
}

hr {border: 3px solid #666; border-radius: 300px/10px; height: 0px; text-align: center; margin:8px;}
